@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */
    --background: 220 7% 93%; /* #EBECEE */
    --foreground: 240 3% 18%; /* #2F2F30 */

    --card: 0 0% 100%; /* #FDFEFE */
    --card-foreground: 240 3% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 3% 18%;

    --primary: 240 3% 18%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 6% 90%; /* #D9D9DB */
    --secondary-foreground: 240 3% 18%;

    --muted: 220 6% 90%;
    --muted-foreground: 220 4% 45%; /* #8E9094 */

    --accent: 220 6% 90%;
    --accent-foreground: 240 3% 18%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 6% 85%; /* #D9D9DB */
    --input: 220 6% 85%;
    --ring: 240 3% 18%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 240 4% 11%;
    --foreground: 220 6% 93%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}
